{% extends 'base.html.twig' %}
{% block title %}Fiche Profil{% endblock %}

{% block body %}
    <br>
    {% embed "decorators/_card.html.twig" with {'class': 'my-3 m-md-3 col col-md-6'} %}

    {% block header %}
    {% if app.user.profil == profil %}
    <h3><a href="{{ path('profil_show', {'id': profil.id}) }}">{{ profil.nom }} {{ profil.prenom }}</a></h3>
    {% endif %}
    {% endblock %}
    {% block body %}
    {% if app.user.profil == profil %}
        <table class="table">
            <tbody>
                <tr>
                    <th>Date de naissance</th>
                    <td><i>{{ profil.dateNee|date('d/m/Y') }}</i></td>
                    
                </tr>
                <tr>
                    <th>Adresse</th>
                    <td>{{ profil.adress }}</td>
                </tr>
                <tr>
                    <th>Code postal</th>
                    <td>{{ profil.codePostal }}</td>
                </tr>
                <tr>
                    <th>Ville</th>
                    <td>{{ profil.ville }}</td>
                </tr>
                <tr>
                    <th>Pays</th>
                    <td>{{ profil.pays }}</td>
                </tr>
                
                <tr>
                    <td>
                        <a class="btn btn-primary" href="{{ path('profil_edit', {'id': profil.id}) }}">Modifier</a>
                    </td>
                    <td></td>
                </tr>
                
            </tbody>
        </table>
    {% endif %}
    {% endblock %}
    {% endembed %}
    {% include "badge/index.html.twig" with {"badges":profil.user.badges} %}
{% endblock %}
