{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}
    <h1>Profil</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ profil.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ profil.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ profil.prenom }}</td>
            </tr>
            <tr>
                <th>Date_nee</th>
                <td>{{ profil.dateNee ? profil.dateNee|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Niveau</th>
                <td>{{ profil.niveau }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ profil.type }}</td>
            </tr>
            <tr>
                <th>Adress</th>
                <td>{{ profil.adress }}</td>
            </tr>
            <tr>
                <th>Pays</th>
                <td>{{ profil.pays }}</td>
            </tr>
            <tr>
                <th>Code_postal</th>
                <td>{{ profil.codePostal }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('profil_index') }}">back to list</a>

    <a href="{{ path('profil_edit', {'id': profil.id}) }}">edit</a>

    {{ include('profil/_delete_form.html.twig') }}
{% endblock %}
