{% extends 'base.html.twig' %}

{% block title %}TicketAgenda{% endblock %}

{% block body %}

    <h1>TicketAgenda</h1>

    <table class="table">
        <tbody>
            <tr>
                <th class="bg-info">Titre</th>
                <td>{{ ticket_agenda.title }}</td>
            </tr>
            <tr>
                <th class="bg-info">Date de l'événement</th>
                <td>{{ ticket_agenda.dateEvent ? ticket_agenda.dateEvent|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th class="bg-info">Type</th>
                <td class="ticketType">{{ ticket_agenda.type }}</td>
            </tr>
            <tr>
                <th class="bg-info">Description</th>
                <td>{{ ticket_agenda.description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('ticket_agenda_index') }}">back to list</a>

    <a href="{{ path('ticket_agenda_edit', {'id': ticket_agenda.id}) }}">edit</a>

    {{ include('ticket_agenda/_delete_form.html.twig') }}
{% endblock %}
